html, body, #root {
  width: 100%;
  height: 100%;
  background: linear-gradient(187deg, #0F0326 0%, #20193a 100%); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family: "Crimson Text", serif !important;
}

.navOption:hover {
  color: #EF476F;
  text-decoration-color: #b33653;
}
.articleTitle:hover {
  color: #EF476F;
}

.articleMetaTitle {
  color: #EF476F;
  display: inline;
}

.MuiButton-outlined {
  border-color: #EF476F !important;
  color: #EF476F !important;
}

.App {
  padding: 10px;
}

.navOption {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.248);
  padding-top: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.blogLogo {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.blogLogo:hover {
  transform: scale(1.05)
}



.navLogo {
  font-size: 30px;
  padding-right: 20px;
}

.paper {
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 8px;
  padding: 5px;
}

.singleArticle .paperInner {
  padding: 15px;
}

.paperInner {
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.248);
  border-radius: 8px;
  
  background-color: #F5F0F6;
}

.articleListInner {
  display: flex;
  flex-direction: column;
}

pre {
  text-wrap: wrap;
}

.articleList {
  margin-top: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.articleThumbnail {
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.articleTitle {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.singleArticleTitle {
  font-size: 1.7rem;
}

.articleMetadata {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.articleMeta {
  font-size: 0.8rem;
}

.articleSummary {
  padding: 5px;
  margin-top: 5px;
}

.singleArticle {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.singleArticle img {
  max-width: 795px;
  width: calc(100% + 28px);
  position: relative;
  left: -14px;
}
