@import "_variables"
@import "_colors/" + $colors
@import "_util"
@import "_mixins"
@import "_extend"
@import "_fonts"

global-reset()

*, *:before, *:after
  box-sizing: border-box

html
  margin: 0
  padding: 0
  height: 100%
  border-top: 2px solid $color-dark-grey
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  height: 100%
  background-color: $color-background
  color: $color-text
  font-display: swap // @stylint ignore
  font-weight: 400
  font-size: $font-size
  font-family: $font-family-body
  line-height: $line-height
  text-rendering: geometricPrecision
  flex: 1
  padding-bottom: 10px

  antialias()

  @extend $base-style

.footer-spacer
  display: block
  width: 100%
  height: 170px

.content
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  overflow-wrap: break-word

  p
    hyphens(auto)

  code
    hyphens(manual)

  a
    color: $color-text
    text-decoration: none

    underline(5px, $color-text)

    &:hover
      background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link)

  a.icon
    background: none

    &:hover
      color: $color-link

  h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    background: none
    color: inherit
    text-decoration: none

  h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
    underline(6px, $color-link)

  h6
    a
      background: none
      color: inherit
      text-decoration: none

  h6
    a:hover
      underline(6px, $color-link)

@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem

    .image-block
      flex: 1 0 35%
      margin-right: 2rem

    p
      flex: 1 0 65%

.max-width
  max-width: $page-width

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  .px3
    padding-right: 1rem
    padding-left: 1rem

  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@media (min-width: 480px)
  p
    text-align: justify

@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"
@import "_partial/tags"
@import "_partial/tooltip"
@import "_partial/categories"
// Code
@import "_highlight/" + $highlight

pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted $color-border
  border-radius: 4px
  font-size: 13px
  font-family: $font-family-mono
  line-height: 22px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 0 5px
  border: 1px dotted $color-border
  border-radius: 2px
  -webkit-border-radius: 2px

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px
  border-radius: 4px
  background: $color-background-code
  font-family: $font-family-mono
  // color: $color-accent-3
  -webkit-border-radius: 4px

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    zoom: 1

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

    &:before, content: ""
      display: table

    &:after
      clear: both

  &:hover 
    .btn-copy
      opacity: 1

  .btn-copy
    font-size: 1.2rem
    position: absolute
    right: 20px
    opacity: 0
    transition: opacity 0.2s ease-in
    &:hover
      color: $color-accent-1

  pre
    margin: 0
    padding: 0
    border: none
    background: none

  table
    width: auto

  td.gutter
    text-align: right
    opacity: .2

  .line
    height: 22px

.featuredCardImage
 	width: 100%
  object-fit: cover
  padding-bottom: 10px

.featuredCard a
  font-weight: bold
  font-size: 1.1em
  margin-left: 0px
  padding-left: 0px

#about
 	display: flex
  flex-wrap: wrap;
  flex-direction: row

.featuredCard
  width: 100% !important
  height: 300px
  margin-bottom: 20px

#logo
  display: inline-block
  float: left
  margin-right: 20px
  width: $logo-width
  height: $logo-height
  border-radius: 5px
  filter: grayscale(100%)
  background-size: $logo-width $logo-height
  background-repeat: no-repeat
  -webkit-filter: grayscale(100%)

a img
  text-decoration: none !important
  border: 0 none !important
  underline(0px, transparent)
.noStyleLink a
  text-decoration: none !important
  border: 0 none !important
  underline(0px, transparent)
.noStyleLink
  text-decoration: none !important
  border: 0 none !important
  underline(0px, transparent)


.hasTarget
  cursor: pointer

.featuredCardTitle
 	position: absolute
  bottom: 0px
  width: 100%
  display: block
  background-color: rgba(0,0,0,0.8)
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 5px

.featuredCardTitle a
 	color: white !important

.featureCardInner
  display: block
  height: 300px
  position: relative
  overflow: hidden

#radarButton
 	width: 50%;
  display: block;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

#radarButton:hover .st0
 	fill: #CA0E49 !important;


.hc
  text-align: center

.footer
  margin-bottom: 40px

#radarContent
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 100%

.radarSectionWrapper
  min-width: 50%;
  flex: 1;
  padding: 5px

.radarSection
  background-color: white;
  border: 1px solid #DEDEDE

.radarSectionTitle
  font-weight: bold
  font-size: 1.2em;
  margin-left: 10px;

.radarSection ul
  list-style: none
  padding-left: 10px;

.radarListDate
  float: right;
  color: #8F8F8F;
  font-size: 0.8em;
  margin: 0;
  margin-right: 10px;

@media screen and (max-width: 600px)
  .featureCardInner
    height: 200px
  .featuredCard
    height: 200px
  .radarSectionWrapper
    min-width: 100%


.loader
  border: 16px solid #0F0F0F;
  border-radius: 50%;
  border-top: 16px solid #F0F0F0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s  infinite;
  margin: auto;
  margin-top: 25px;

@-webkit-keyframes spin
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }

@keyframes spin
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }


.content
  margin-top: 20px;
  padding-top: 0px;

#header
 	margin-top: 50px;
  position: relative;

#header #logo 
 	position: absolute;
  top: -50px;
  background-size: cover;
  width: 150px;
  height: 48px;
  border-radius: 0px;

#logo svg
 	width: 300px; 

#nav
 	margin-top: 20px
  font-weight: bold

.post #logo
 	background-size: cover;
  width: 150px;
  height: 48px;
  border-radius: 0px;

#postLogoRegion
 	display: block;
  width: 100%;
  height: 48px;

.posttitle
  margin: 0px !important;
  margin-top: 15px !important;
  text-align: left !important

.meta 
 	margin: 0px !important; 

.post .content h2
 	margin-top: 20px;
  margin-left: 15px;

.post .content img
 	max-width: 100vw;
  width: 120% !important;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  
.index #nav
 	display: block
  margin: auto
  margin-top: 30px

.py4 .content
 	margin-top: 0px

.py4 h1
 	text-align: center

.py4 h4
 	text-align: center
  display: block
