html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #20193a;
}

.asciiArt {
  color: white;
  margin: auto;
}

.App {
  z-index: 10 !important;
  background: linear-gradient(180deg, #0F0326 0%, #20193a 100%); 
  background-repeat: no-repeat;
  background-color: #20193a;
  display: block;
  color: black;
  height: 100%;
  font-family: "Crimson Text", serif !important;
}

#stonez {
  overflow-x: hidden;
}

.navOption:hover {
  color: #8DB580;
  text-decoration-color: #576e50;
}
.articleTitle:hover {
  color: #8DB580;
}

.articleMetaTitle {
  color: #EF476F;
  display: inline;
}

.MuiButton-outlined {
  border-color: #EF476F !important;
  color: #EF476F !important;
}

.navOption {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.248);
  padding-top: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.blogLogo {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.blogLogo:hover {
  transform: scale(1.05)
}



.navLogo {
  font-size: 30px;
  padding-right: 20px;
}

.paper {
  border: 1px solid #b3b3b3;
  outline: 1px solid #464646;
  border-radius: 4px;
  padding: 1px;
}

.singleArticle .paperInner {
  padding: 13px;
}

.paperInner {
  padding: 1px;
  border: 1px solid #c06177;
  border-radius: 4px;
  
  background-color: #F5F0F6;
  background: linear-gradient(180deg, #F5F0F6 0%, #d7d2d8 100%); 
}

.articleListInner {
  display: flex;
  flex-direction: column;
}

pre {
  text-wrap: wrap;
}

.articleList {
  margin-top: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.articleThumbnail {
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.articleTitle {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.singleArticleTitle {
  font-size: 1.7rem;
}

.articleMetadata {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 400px) {
  .articleMetadata {
    flex-direction: column;
    gap: 0px;
  }
}

.articleMeta {
  font-size: 0.8rem;
}

.articleSummary {
  padding: 5px;
  margin-top: 5px;
}

.singleArticle {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.singleArticle img {
  max-width: 801px;
  width: calc(100% + 28px) !important;
  position: relative;
  left: -14px;
}

.footer a {
  color: white !important;
}

#stonez .logo {
  height: 200px;
  width: 200px;
}

#stonez {
  padding: 10px;
}
