html, body, #root {
  width: 100%;
  height: 100%;
  background-color: rgb(212, 220, 255);
  color: black;
  font-family: "Crimson Text", serif !important;
}

.App {
  padding: 10px;
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.navOption {
  text-decoration: underline;
  text-decoration-color: white;
  padding-top: 15px;
  cursor: pointer;
}

.navOption:hover {
  color: #3967cc;
  text-decoration-color: #223e7c;
}

.navLogo {
  font-size: 30px;
  padding-right: 20px;
}

.articleList {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.548);
  border-radius: 8px;
  padding: 5px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.articleThumbnail {
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.articleTitle {
  font-size: 1.5rem;
  cursor: pointer;
}

.singleArticleTitle {
  font-size: 1.7rem;
}

.articleTitle:hover {
  color: #3967cc;
}

.articleMetadata {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.articleMeta {
  font-size: 0.8rem;
}

.articleSummary {
  padding: 5px;
  margin-top: 5px;
}

.singleArticle {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 40px;
}

.singleArticle img {
  max-width: 800px;
}
